/* To make the component grow */
:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
}

.card {
    display: flex;
    width: min(90vw, 700px);
    border-radius: 10px;
    background-color: var(--color-tertiary-light);
    box-shadow: 0px 3px 2px var(--color-shadow-tertiary);
}

.front {
    
}

.back {
    
}

.card-content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*
@media (max-width: 1200px) {
    .card {
        width: 80%;
        height: 80%;
    }
}

@media (max-width: 900px) {
    .card {
        width: 60%;
        height: 60%;
    }
}

@media (max-width: 700px) {
    .card {
        width: 80%;
        height: 80%;
    }
}

@media (max-width: 500px) {
    .card {
        width: 100%;
        height: 100%;
    }
}*/