.studies-ended-board {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    box-shadow: 0px 3px 2px var(--color-shadow-primary);
    border-radius: 4px;
    width: min(90dvw, 450px);
    max-height: 250px;
    align-self: center;
    padding: var(--padding-normal);
}

.actions-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
  padding: var(--padding-normal);
}

.actions-wrapper .action {
    border: none;
    font-size: var(--font-size-normal-text);
    border-radius: 4px;
    color: var(--color-white);
    transition: transform 0.2s ease;
}

.actions-wrapper .action:hover {
    transform: scale(1.06);
}

.actions-wrapper .action.redo {
    background-color: var(--color-tertiary);
    box-shadow: 0px 3px 2px var(--color-shadow-tertiary);
    min-width: 120px;
    min-height: 60px;
}

.actions-wrapper .action.back {
    background-color: var(--color-secondary);
    box-shadow: 0px 3px 2px var(--color-shadow-secondary);
    min-height: 30px;
    min-width: 60px;
}

.actions-wrapper .action.redo:hover {
    background-color: var(--color-tertiary-light);
    box-shadow: 0px 3px 2px var(--color-tertiary);
   
}

.actions-wrapper .action.back:hover {
    background-color: var(--color-secondary-light);
    box-shadow: 0px 3px 2px var(--color-secondary);
}

