<footer class="footer">
    <div class="made-by">
      Made by <strong>Kyhfriyell</strong>
    </div>

  <div class="socials">
    <a href="https://www.instagram.com/kyhfriyell/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
      <app-icon name="instagram" tooltip="Instagram"></app-icon>
    </a>

    <a href="https://www.tiktok.com/@kyhfriyell" target="_blank" rel="noopener noreferrer" aria-label="TikTok">
      <app-icon name="tiktok" tooltip="TikTok"></app-icon>
    </a>

    <a href="https://x.com/kyhfriyell" target="_blank" rel="noopener noreferrer" aria-label="X">
      <app-icon name="x" tooltip="X"></app-icon>
    </a>

    <a href="https://bsky.app/profile/kyhfriyell.bsky.social" target="_blank" rel="noopener noreferrer" aria-label="Bluesky">
      <app-icon name="bluesky" tooltip="Bluesky"></app-icon>
    </a>

    <a href="https://kyhfriyell.itch.io/" target="_blank" rel="noopener noreferrer" aria-label="Itch.io">
      <app-icon name="itch" tooltip="Itch.io"></app-icon>
    </a>

    <a href="https://github.com/kyhfriyell" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
        <app-icon name="github" tooltip="GitHub" />
    </a>
  </div>
  
</footer>
