:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

h1 {
    margin: 20px;
}

.study-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: var(--spacing);
}

.stats {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: min(90dvw, 500px);
   border-radius: 4px;
   background-color: var(--color-primary);
   box-shadow: 0px 4px 2px var(--color-shadow-primary);
   padding: var(--padding-small);
   gap:var(--spacing);
}

.stats p {
    margin: 0px;
    font-size: var(--font-size-bigger-text);
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    justify-content: center;
}

.card-size {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 450px;
}

.interaction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
    padding: 10px;
    height: 8dvh;
    width: min(90dvw, 500px);
    border-radius: 4px;
    box-shadow: var(--color-shadow) 0px 2px 2px 3px inset;
}

::ng-deep .interaction app-button, 
::ng-deep .interaction button {
    display: flex;
    flex: 1 1 0;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.end-wrapper {
    display: flex;
    flex: 1;
}

.studies-ended-wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
}


/* Break points :
  480px -> small phones
  768px → tablet
  1024px → small desktop
  1280px → large desktop
*/

@media (max-width: 480px) {
    .stats p {
        font-size: var(--font-size-normal-text);
    }
}