<div class="inner-main">
    <h1>{{sheetName}}</h1>
    
    @if(succeededWords === totalWords)
    {
        <section class="end-wrapper">
            <app-studies-ended class="studies-ended-wrapper" (restartClicked)="reset()" />
        </section>
    }
    @else {
        <section class="study-board">
             
            <article class="stats">
                <p>Succeeded : {{succeededWords}}/{{totalWords}}</p>
                <p>forgotten: {{forgotten}}</p>
            </article>
            
            <div class="card-wrapper">
                <div class="card-size">
                    @if(showFront)
                    {
                        <app-card [isFront]="showFront">
                            <app-study-content
                                [headers]="frontColumns"
                                [words]="cards"
                                [index]="index">
                            </app-study-content>
                        </app-card>
                    }
                    @else 
                    {
                        <app-card [isFront]="showFront">
                            <app-study-content
                                [headers]="backColumns"
                                [words]="cards"
                                [index]="index">
                            </app-study-content>
                        </app-card>
                    }
                </div>
            </div>
            
            <section class="interaction">
                <app-button type="primary" (click)="onFlipCard()">Flip</app-button>
                <app-button type="secondary" (click)="onNext()" [disabled]="!showActions">Next</app-button>
                <app-button type="secondary" (click)="onForgot()" [disabled]="!showActions">Forgot</app-button>
            </section>

        </section>
    }

</div>







