.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-width: 500px;
    min-height: 500px;
    background: linear-gradient(to bottom, var(--color-bg-dark), var(--color-bg-light));
}

h1 {
   text-align: center;
   margin: 50px 0px 0px 0px;
   padding: 10px;
}

.content {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    height: 100%; // need to give it a height so the height in sheets works, and so we have a scroll
    overflow: hidden; // so we don't get qa scroll if there are a lot of elements in the list
}

.sheets-shadow {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 70px;
    padding: 10px;
    height: 60%;
    width: 50%;
    box-shadow: var(--color-shadow) 0px 2px 2px 3px inset;
}

.sheets {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex: 1 1 0;
    border-radius: 10px;
    padding: 10px;
    gap: 20px;    
    overflow: auto;
}

.sheet-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 60px;      
    flex-shrink: 0;
    overflow: auto;
    transition: transform 0.2s ease;
    box-shadow: 0px 4px 2px var(--color-shadow-primary);
    border-radius: 4px;
}

.sheet-container:hover {
  transform: scale(1.02);
}

.sheet-container:has(.sheet.empty) {
  box-shadow: 0px 4px 2px var(--color-text-muted);
}

.sheet-container:has(.sheet.empty):hover {
  transform: none;
}