:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

h1 {
   text-align: center;
}

.content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: stretch;
    
}

.sheets-shadowed-box {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    width: min(90dvw, 900px); /* 900px, or 90% of viewport width if it is smaller than 900px */
    padding: 10px; /* Gives space for the scrollbar */
    box-shadow: var(--color-shadow) 0px 2px 2px 3px inset;
}

.sheets {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    border-radius: 10px;
    gap: var(--spacing);
    overflow: auto;
    padding: 10px 15px;
}



/* Break points :
  480px -> small phones
  768px → tablet
  1024px → small desktop
  1280px → large desktop
*/