.card-value {
    font-size: var(--font-size-normal-text);
    text-align: center;
}

.first-card-value {
    font-weight: bold;
    font-size: var(--font-size-bigger-text);
    margin-bottom: 5px;
}

p {
    margin: none;
    color: var(--color-text-black);
}