.btn {
  padding: var(--padding-normal);
  font-size: var(--font-size-normal-text);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn:hover:not(:disabled) {
    transform: scale(1.04);
}

/* ---------- PRIMARY ---------- */

.btn-primary {
  background-color: var(--color-primary);
  box-shadow: 0px 3px 2px var(--color-shadow-primary);
}

.btn-primary:hover:not(:disabled) {
  background-color: var(--color-primary-light);
  box-shadow: 0px 3px 2px var(--color-primary);
}

/* ---------- SECONDARY ---------- */

.btn-secondary {
  background-color: var(--color-secondary);
  box-shadow: 0px 3px 2px var(--color-shadow-secondary);
}

.btn-secondary:hover:not(:disabled) {
  background-color: var(--color-secondary-light);
  box-shadow: 0px 3px 2px var(--color-secondary);
}

/* ---------- TERTIARY ---------- */

.btn-tertiary {
    background-color: var(--color-tertiary);
    box-shadow: 0px 3px 2px var(--color-shadow-tertiary);
}

.btn-tertiary:hover:not(:disabled) {
  background-color: var(--color-tertiary-light);
  box-shadow: 0px 3px 2px var(--color-tertiary);
}

/* ---------- DISABLED ---------- */

.btn:disabled {
  background-color: var(--color-desactivated);
  color: var(--color-text-muted);
  box-shadow: 0px 3px 2px var(--color-text-muted);
  transform: none;
}

@media (max-width: 480px) {
  .btn {
    padding: var(--padding-small);
  }  

}