.main
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--color-bg-dark), var(--color-bg-light));
    justify-content: space-evenly;
    align-items: center;
    min-width: 730px;
    min-height: 700px;
    overflow: auto;
}

h1, h3 {
  margin: 0px 0px;
}

.drop-zone {
  width: 450px;
  height: 450px;
  background-color: var(--color-primary);
  border-radius: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 5px 2px var(--color-shadow-primary);
  transition: transform 0.2s ease;
}

.drop-zone.drag-over {
  background-color: var(--color-primary-light);
  transform: scale(1.02);
}

.content {
  text-align: center;
}

.content button {
  margin: 0px 0px 10px 0px;
  padding: 15px 16px;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: var(--color-secondary);
  color: var(--color-white);
  box-shadow: 0px 3px 2px var(--color-shadow-secondary);
  transition: transform 0.2s ease;
}

.content button:hover {
  background-color: var(--color-secondary-light);
  color: var(--color-white);
  box-shadow: 0px 3px 2px var(--color-secondary);
  transform: scale(1.06);
}

.content p {
  color: var(--color-white);
}

.warning-message {
  background-color:var(--color-secondary);
  border-radius: 10px;
  padding: 0px 20px;
  box-shadow: 0px 3px 2px var(--color-shadow-secondary);
}

