/* To make the router-outlet take the whole screen so our inner-main can use flex: 1; */
:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.inner-main
{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    text-align: center;
    gap: var(--spacing);
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.drop-zone-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}


.drop-zone {
  aspect-ratio: 1 / 1; /* ratio width / height, so height will always be the same as width */
  background-color: var(--color-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  touch-action: manipulation;
  box-shadow: 0px 5px 2px var(--color-shadow-primary);
  transition: transform 0.2s ease;
  padding: var(--padding-normal);
  width: min(80vw, 420px);
}

.drop-zone.drag-over {
  background-color: var(--color-primary-light);
  transform: scale(1.02);
}

.content {
  
}

.content p {
  color: var(--color-white);
  font-size: var(--font-size-bigger-text);
}

.warning-message {
  background-color:var(--color-secondary);
  border-radius: 10px;
  padding: 0px 20px;
  box-shadow: 0px 3px 2px var(--color-shadow-secondary);
  width: fit-content;
  max-width: 90vw;
}

.warning-message p {
  font-size: var(--font-size-normal-text);
}

/* Break points :
  480px -> small phones
  768px → tablet
  1024px → small desktop
  1280px → large desktop
*/

/* @media (max-height: 800px) {
  .drop-zone {
  width: min(90vw, 300px);
  aspect-ratio: 1 / 1; 
  background-color: orange;
  
}
.main {
  
}
} */