<div class="inner-main">
  <section class="header">
    <h1>Vocab-Trainer</h1>
    <h3>Study your own vocabulary until you master it !</h3>
  </section>
 
  <div class="drop-zone-wrapper">
    <section
    class="drop-zone"
    [class.drag-over]="isDragOver"
    (click)="fileInput.click()"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
    >
      <input
        #fileInput
        type="file"
        accept=".xlsx,.xls"
        hidden
        (change)="onFileSelect($event)"
      />

      <div class="content">
        <p>Drag & drop your Excel file here</p>
        <p>or</p>
        <app-button
          type="secondary"
          (click)="fileInput.click(); $event.stopPropagation()"
        >
          Select file
      </app-button>
      </div>
    </section>
  </div>
  

  <article class="warning-message">
    <p>Your sheets need a header row for the app to function properly</p>
  </article>
  
</div>

@if(showJumpBackDialog()) {
  <app-jump-back-in-dialog
    (confirmed)="jumpBack()"
    (cancelled)="startWithNewFile()"
  />
}