/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
}

@font-face {
    font-family: 'Silkscreen';
    src: url('assets/Silkscreen/Silkscreen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
  /* Brand colors */
  --color-primary: rgb(89, 196, 160);
  --color-primary-light: rgb(133, 199, 177);
  --color-primary-dark: rgb(63, 155, 124);

  --color-secondary: rgb(209, 128, 107);
  --color-secondary-light: rgb(231, 165, 148);
  --color-secondary-dark: rgb(172, 100, 82);

  --color-tertiary: rgb(231, 211, 157);
  --color-tertiary-light: rgb(241, 229, 195);
  --color-tertiary-dark: rgb(196, 176, 122);

  --color-desactivated: rgb(177, 177, 177);
  --color-white: white;

  /* Backgrounds */
  --color-bg-dark: #2d2d2d; /*rgb(86, 168, 141);*/ /*rgb(163, 96, 79); */ /*rgb(196, 176, 122); */ /*#2d2d2d;*/
  --color-bg-light: #464646; /*rgb(113, 207, 176);*/ /*rgb(209, 128, 107); */ /*rgb(231, 211, 157); */ /*#464646;*/
  --color-bg-card-front: #e0f2fe;
  --color-bg-card-back: #fed7aa;

  /* Text */
  --color-text-muted: #808080;
  --color-text-black: black;


  /* Shadows */
  --color-shadow: rgb(41, 41, 41);
  --color-shadow-primary: rgb(63, 155, 124);
  --color-shadow-secondary: rgb(172, 100, 82);
  --color-shadow-tertiary: rgb(196, 176, 122);
}

p, h1, h2, h3, button, th, tr {
  font-family: "SilkScreen";
  color: var(--color-white);
  
}