/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column; /* pages would not take the full scsreen size if not column */
  min-height: 100dvh; /* mobile browsers have dynamic toolbar and vh is not always correct */
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: linear-gradient(to bottom, var(--color-bg-dark), var(--color-bg-light));
    padding: 20px; /* So we avoid elements to touch the screen borders on mobile */
    justify-content: space-around;
    
}

@font-face {
    font-family: 'Silkscreen';
    src: url('assets/Silkscreen/Silkscreen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
  /* Brand colors */
  --color-primary: rgb(89, 196, 160);
  --color-primary-light: rgb(133, 199, 177);
  --color-primary-dark: rgb(63, 155, 124);

  --color-secondary: rgb(209, 128, 107);
  --color-secondary-light: rgb(231, 165, 148);
  --color-secondary-dark: rgb(172, 100, 82);

  --color-tertiary: rgb(231, 211, 157);
  --color-tertiary-light: rgb(241, 229, 195);
  --color-tertiary-dark: rgb(196, 176, 122);

  --color-desactivated: rgb(177, 177, 177);
  --color-white: white;
  --color-black: rgb(26, 26, 26);

  /* Backgrounds */
  --color-bg-dark: #2d2d2d; /*rgb(86, 168, 141);*/ /*rgb(163, 96, 79); */ /*rgb(196, 176, 122); */ /*#2d2d2d;*/
  --color-bg-light: #464646; /*rgb(113, 207, 176);*/ /*rgb(209, 128, 107); */ /*rgb(231, 211, 157); */ /*#464646;*/
  --color-bg-card-front: #e0f2fe;
  --color-bg-card-back: #fed7aa;

  /* Text */
  --color-text-muted: #808080;
  --color-text-black: black;
  --font-size-normal-text: clamp(0.80rem, 1vw, 1.1rem); /* clamp auto calculates a value between (min, prefered, max) */
  --font-size-bigger-text: clamp(1rem, 1.3vw, 1.35rem);
  --font-size-h1: clamp(1.8rem, 3vw, 2.3rem);
  --font-size-h3: clamp(1.2rem, 2vw, 1.7rem);


  /* Shadows */
  --color-shadow: rgb(41, 41, 41);
  --color-shadow-primary: rgb(63, 155, 124);
  --color-shadow-secondary: rgb(172, 100, 82);
  --color-shadow-tertiary: rgb(196, 176, 122);

  /* Gaps */ 
  --spacing: clamp(5px, 2vw, 20px);
  --spacing-small: clamp(5px, 2vw, 10px);

  /* Padding */
  --padding-normal: 10px;
  --padding-small: 5px;
}

p, h1, h2, h3, button, th, tr {
  font-family: "SilkScreen";
  color: var(--color-white);
}

p {
  font-size: var(--font-size-normal-text);
}

h1 {
  font-size: var(--font-size-h1);
  text-align: center;
  margin: 0px;
}

h3 {
  font-size: var(--font-size-h3);
  text-align: center;
  margin: 0px;
}

