:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.inner-main
{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    text-align: center;
    gap: var(--spacing-xsmall-noclamp);
}

.header {
    display: flex;
    flex-direction: column;
    flex: 0 1 0;
    gap: var(--spacing-xsmall-noclamp);
}

.headers {
    display: flex;
    flex-direction: column;
    flex: 0 1 0;
  }

.headers h1 {
    text-align: center;
}


.header .header-actions {
  display: flex;
  gap: var(--spacing-xsmall-noclamp);
  justify-content: center;
}

/* ::ng-deep to override the button component css properties */
::ng-deep .custom-button button {
  min-width: min(30dvw, 140px);
}




.cards-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.cards-area h3 {
  margin: 0px;
}

.front-view {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--spacing-small);
}

.back-view {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--spacing-small);
}


.columns-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 0px solid var(--color-secondary); 
  box-shadow: var(--color-shadow) 0px 2px 2px 3px inset;
  border-radius: 4px;
  gap: var(--spacing-small);
  padding: 10px;

  max-height: 30dvh;
  overflow-y: auto;
}

.column-element {
  border: 1px solid var(--color-secondary); 
  box-shadow: 0px 3px 2px var(--color-shadow);
  padding: var(--padding-normal);
  gap: var(--spacing);
  border-radius: 4px;
  display: flex;
  cursor: pointer;
}

.column-element:hover {
  background-color: var(--color-secondary);
}

.selected {
  background-color: var(--color-secondary);
  border: 0px solid var(--color-secondary); 
  box-shadow: 0px 3px 2px var(--color-shadow);
  border: 1px solid var(--color-secondary); 
}

.selected:hover {
  background-color: var(--color-secondary-light);
  border: 1px solid var(--color-secondary-light); 
}

.column-element p {
  margin: 0px;
  font-size: var(--font-size-normal-text);
}


.card-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

/* Break points :
  480px -> small phones
  768px → tablet
  1024px → small desktop
  1280px → large desktop
*/

@media (max-width: 1024px) {
  

}

@media (max-width: 480px) {
  .column-element {
    padding: var(--padding-small);
  }
}