.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--color-bg-dark), var(--color-bg-light));
}

.header {
    background-color: var(--color-primary);
    display: flex;
    width: 100%;
}

.header h1 {
    width: 50%;
    text-align: center;
}

.header-right {
    display: flex;
    width: 50%;
}

.header-right h3 {
  display:flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
}

.header-right button {
  margin: 20px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: var(--color-secondary);
  color: var(--color-white);
  box-shadow: 0px 3px 2px var(--color-shadow-secondary);
  transition: transform 0.2s ease;
}

.header-right button:hover {
  background-color: var(--color-secondary-light);
  color: var(--color-white);
  box-shadow: 0px 3px 2px var(--color-secondary);
  transform: scale(1.04);
}

.header-right button:disabled {
  background-color: var(--color-desactivated);
  color: var(--color-text-muted);
  box-shadow: 0px 3px 2px var(--color-text-muted);
  transform: none;
}

.cards {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
}

.front-view {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    align-items: center;
    gap: 20px;
    min-width: 0px;
    min-height: 0px;
}

.back-view {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    align-items: center;
    gap: 20px;
    min-width: 0px;
    min-height: 0px;
}


.headers-table-wrapper {
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
}

.headers-table {
  overflow-x: auto;
  width: 100%;
  padding-bottom: 12px;
  border: 2px solid var(--color-secondary); 
  border-radius: 4px;
  
}

th,
td {
  padding: 5px;
  white-space: nowrap;
  text-align: center;
}

td {
  vertical-align: middle;
}

.selected {
  background-color: var(--color-secondary);
}

table {
     border-collapse: collapse;
     width: max-content;
  
}

.card-comp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

@media (max-width: 900px) {
  .cards {
    flex-direction: column;
  }

  .front-view {
    flex: none;
  }

  .back-view {
    flex: none;
  }

}

@media (max-width: 500px) {
  .header {
    flex-direction: column;
  }

  .header h1 {
    width: 100%;
  }

  .header-right {
    width: 100%;
  }
}