:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-normal);
}

.header h1 {
    text-align: center;
    margin: 10px;
}

.header .header-actions {
  display: flex;
  gap: var(--spacing);
}

/* ::ng-deep to override the button component css properties */
::ng-deep .custom-button button {
  width: min(45dvw, 180px);
}


.cards-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.cards-area h3 {
  margin: 0px;
}

.front-view {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--spacing);
}

.back-view {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    align-items: center;
    gap: var(--spacing);
    min-width: 0px;
    min-height: 0px;
}


.columns-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 0px solid var(--color-secondary); 
  box-shadow: var(--color-shadow) 0px 2px 2px 3px inset;
  border-radius: 4px;
  gap: var(--spacing);
  padding: 10px;

  max-height: 30dvh;
  overflow-y: auto;
}

.column-element {
  border: 1px solid var(--color-secondary); 
  box-shadow: 0px 3px 2px var(--color-shadow);
  padding: var(--padding-normal);
  gap: var(--spacing);
  border-radius: 4px;
  display: flex;
  cursor: pointer;
}

.column-element:hover {
  background-color: var(--color-secondary);
}

.selected {
  background-color: var(--color-secondary);
  /*box-shadow: 0px 3px 2px var(--color-shadow-secondary);*/
  border: 0px solid var(--color-secondary); 
  box-shadow: 0px 3px 2px var(--color-shadow);
  
}

.selected:hover {
  background-color: var(--color-secondary-light);
}

.column-element p {
  margin: 0px;
}


.card-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    margin-bottom: 10px;
}

/* Break points :
  480px -> small phones
  768px → tablet
  1024px → small desktop
  1280px → large desktop
*/

@media (max-width: 1024px) {
  

}

@media (max-width: 480px) {
  .column-element {
    padding: var(--padding-small);
  }
}