<section class="inner-main">
    <div class="header">
        <div class="hearders">
            <h1>Set-up your cards</h1>
            <h3 [textContent]="sheetName()"></h3>
        </div>
        <div class="header-actions">
            <app-button class="custom-button" type="secondary" (click)="onStart()" [disabled]="!canStart">Start</app-button>
            <app-button class="custom-button" type="secondary" (click)="splitPack()">Start Split</app-button>
        </div>
        <div class="header-actions">
            <app-button class="custom-button" type="primary" (click)="switchSide()">Switch Side</app-button>
        </div>
    </div>
    
    <div class="cards-area">
        @if(isShowingFront) {
            <div class="front-view">
                <h3>Front View</h3>
                <div class="columns-wrapper">
                    @for(header of sheetHeaders; track header)
                    {
                        <div class="column-element" [class.selected]="isSelected(header, frontColumns())" (click)="toggleFrontHeader(header)">
                            @if(isSelected(header, frontColumns()))
                            {
                                <p>#{{ getPosition(header, frontColumns()) }}</p>
                            }
                            <p>{{header}}</p>
                        </div>  
                    }
                </div>
                <section class="card-wrapper">
                    <app-card [isFront]="true">
                        <app-headers
                            [headers]="frontColumns()">
                        </app-headers>
                    </app-card>
                </section>
            </div>
        }
        @else {
            <div class="back-view">
                <h3>Back View</h3>
                 <div class="columns-wrapper">
                    @for(header of sheetHeaders; track header)
                    {
                        <div class="column-element" [class.selected]="isSelected(header, backColumns())" (click)="toggleBackHeader(header)">
                            @if(isSelected(header, backColumns()))
                            {
                                <p>#{{ getPosition(header, backColumns()) }}</p>
                            }
                            <p>{{header}}</p>
                        </div>  
                    }
                </div>
          
                <section class="card-wrapper">
                    <app-card [isFront]="false">
                        <app-headers
                            [headers]="backColumns()">
                        </app-headers>
                    </app-card>
                </section>
            </div>
        }
        
        
        
    </div>
    
    

    
</section>
